{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid text-center p-3 p-sm-3 p-lg-5">
    <div class="row g-0 pt-md-4">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <!-- Page Heading -->
            <div class="col-12 mt-3 mt-md-0">
                <h2 class="logo-font mb-4">Help!</h2>
            </div>
            <!-- Polymorphism -->
            <div class="col-12 col-md-6 polymorphism">
                <!-- Accordion -->
                <div class="accordion accordion-flush" id="howToAccordian">
                    <!-- Item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="#flush-collapse-1">
                            What is CIRPG?
                        </button>
                        </h2>
                        <div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="#flush-headeing-1" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0">CIRPG is an <a href="https://github.com/BAK2K3/CIRPG" rel="noreferrer noopener" target="_blank" class="text-decoration-underline">Open Source</a> Full Stack Role Playing Game.</p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="#flush-collapse-2">
                            How Do I Play?
                        </button>
                        </h2>
                        <div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="#flush-heading-2" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"> </p>
                            </div>  
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-3" aria-expanded="false" aria-controls="#flush-collapse-3">
                            Why Should I Upgrade?
                        </button>
                        </h2>
                        <div id="flush-collapse-3" class="accordion-collapse collapse" aria-labelledby="#flush-heading-3" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-4" aria-expanded="false" aria-controls="#flush-collapse-4">
                            How do battles work?
                        </button>
                        </h2>
                        <div id="flush-collapse-4" class="accordion-collapse collapse" aria-labelledby="#flush-heading-4" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-5" aria-expanded="false" aria-controls="#flush-collapse-5">
                            How does levelling up work?
                        </button>
                        </h2>
                        <div id="flush-collapse-5" class="accordion-collapse collapse" aria-labelledby="#flush-heading-5" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 6 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-6" aria-expanded="false" aria-controls="#flush-collapse-6">
                            How do Tiers work?
                        </button>
                        </h2>
                        <div id="flush-collapse-6" class="accordion-collapse collapse" aria-labelledby="#flush-heading-6" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 7 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-7" aria-expanded="false" aria-controls="#flush-collapse-7">
                            How does Rarity work?
                        </button>
                        </h2>
                        <div id="flush-collapse-7" class="accordion-collapse collapse" aria-labelledby="#flush-heading-7" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                    <!-- Item 8 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-8" aria-expanded="false" aria-controls="#flush-collapse-8">
                            Why can't I get on the Leaderboard?
                        </button>
                        </h2>
                        <div id="flush-collapse-8" class="accordion-collapse collapse" aria-labelledby="#flush-heading-8" data-bs-parent="#howToAccordian">
                            <div class="accordion-body">
                                <p class="mb-0"></p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}