{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid splash-container text-center py-3">
    <div class="row">
        <!-- images and Descriptors -->
        <div class="col-10 col-md-5 col-lg-4 inset-shadow p-4">
            <!-- Row 1 -->
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="picture-container p-1">
                        <img class="img-fluid" src="{{ MEDIA_URL }}hero_knight.png" alt="Hero Knight">
                    </div>
                </div>
                <div class="col-6">
                    <div class="splash-descriptor">
                        <h2><span class="logo-font">10</span> Playable Classes</h2>
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="splash-descriptor">
                        <h2><span class="logo-font">59</span>  Weapon Variations</h2>
                    </div>
                </div>
                <div class="col-6">
                    <div class="picture-container p-1">
                        <img class="img-fluid" src="{{ MEDIA_URL }}axe_orc.png" alt="Axe">
                    </div>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="picture-container p-1">
                        <img class="img-fluid" src="{{ MEDIA_URL }}magma_bone_collector.png" alt="Magma Bone Collector">
                    </div>
                </div>
                <div class="col-6">
                    <div class="splash-descriptor">
                        <h2><span class="logo-font">87</span>  Different Enemies</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action -->
        <div class="col-10 col-md-5 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2><span class="logo-font">NEVER</span>  play the same game twice!</h2>
                        <h2>Make an account for <span class="logo-font">FREE</span>  today!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}