{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid page-container text-center py-3">
    <div class="row g-0">
        <!-- images and Descriptors -->
        <div class="col-9 col-sm-7 col-md-5 col-lg-4 polymorphism p-2 p-md-4">
            <!-- Row 1 -->
            <div class="col-12 align-items-center d-flex p-1">
                <div class="col-6">
                    <div class="picture-container p-2">
                        <a href="{% url 'codex' %}?type=hero"><img class="img-fluid" src="{{ MEDIA_URL }}hero_knight.png" alt="Hero Knight"></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="splash-descriptor p-2">
                        <h2><span class="logo-font">10</span><br>Playable Classes</h2>
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="col-12 align-items-center d-flex p-1">
                <div class="col-6">
                    <div class="splash-descriptor p-2">
                        <h2><span class="logo-font">59</span><br>Weapon Variants</h2>
                    </div>
                </div>
                <div class="col-6">
                    <div class="picture-container p-2">
                        <a href="{% url 'codex' %}?type=weapon"><img class="img-fluid" src="{{ MEDIA_URL }}axe_orc.png" alt="Axe"></a>
                    </div>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="col-12 align-items-center d-flex p-1">
                <div class="col-6">
                    <div class="picture-container p-2">
                        <a href="{% url 'codex' %}?type=enemy"><img class="img-fluid" src="{{ MEDIA_URL }}magma_bone_collector.png" alt="Magma Bone Collector"></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="splash-descriptor p-2">
                        <h2><span class="logo-font">87</span><br>Different Enemies</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action -->
        <div class="col-12 col-sm-8 col-md-5 col-lg-5 d-flex mt-3 mt-md-0">
            <div class="col-12">
                <div class="text-center">
                    <h3><span class="logo-font">NEVER</span>  play the same game twice!</h3>
                    <h3>Make an account for <span class="logo-font">FREE</span>  today!</h3>
                    <div class="button-container">
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="btn btn-dark custom-dark-btn w-auto pulsing-button anti-double-click mt-2">
                            <span class="button-effect">Play now!</span>
                        </a>  
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-dark custom-dark-btn w-auto pulsing-button anti-double-click me-5 mt-2">
                            <span class="button-effect">Login!</span>
                        </a>  
                        <a href="{% url 'account_signup' %}" class="btn btn-dark custom-dark-btn w-auto pulsing-button anti-double-click mt-2">
                            <span class="button-effect">Register!</span>
                        </a>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}