{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="payment-container">
                <div class="polymorphism p-5 text-center">
                    <h2 class="logo-font">Payment Aborted</h2>
                    <p>
                        Oops! It looks like something might have gone wrong!
                    </p>
                    <p>
                        If you're having second thoughts, don't worry. You'll always have free access to the base game.  
                    </p>
                    <div class="col-12">
                        <a class="btn btn-dark custom-dark-btn" href="{% url 'profile' %}">
                            <span class="button-effect">Profile</span>
                        </a> 
                        <a class="btn btn-dark custom-dark-btn" href="{% url 'premium' %}">
                            <span class="button-effect">Premium</span>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


