{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Page Container -->
    <div class="container-fluid text-center p-5">
        <!-- Profile Stats -->
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-xxl-4 offset-xxl-4 polymorphism">
                <div class="col-12">
                    <h2 class="logo-font">
                        {{ current_profile.user.username }}
                    </h2>
                </div>
                <div class="row pb-3 stats-container">
                    <div class="col-4">
                        <span><strong>Total Runs:</strong> {{current_profile.total_runs}}</span>
                    </div>
                    <div class="col-4">
                        <span><strong>Longest Run:</strong> {{current_profile.longest_run}}</span>
                    </div>
                    <div class="col-4">
                        <span><strong>Account Type:</strong> {% if current_profile.paid %} Premium {% else %} Free {% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Current Character -->
        <div class="row pt-5">
            <div class="col-12">
            {% if current_profile.active_char %}
                {{ current_profile.user.username }} has a character.
            {% else %}
                <a class="animated-link list-text" href="{% url 'create' %}">Create a new character!</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

