{% extends 'base.html' %}
{% load static %}
{% load profile_tools %}
{% block content %}
    <!-- Main Page Container -->
    <div class="container-fluid p-2 p-sm-3 p-lg-5 pt-xxl-2">
        <!-- Profile Stats -->
        <div class="row g-0 text-center px-2 py-4 p-md-3">
            <div class="col-12 col-md-6 offset-md-3 col-xxl-4 offset-xxl-4 polymorphism">
                <div class="col-12 pt-2">
                    <h2 class="logo-font">
                        {{ current_profile.user.username }}
                    </h2>
                </div>
                <div class="col-12 pb-3 px-2 stats-container">
                    <div class="col-3">
                        <span><strong>Total Runs:</strong><br>{{current_profile.total_runs}}</span>
                    </div>
                    <div class="col-3">
                        <span><strong>Longest Run:</strong><br>{{current_profile.longest_run}}</span>
                    </div>
                    <div class="col-3">
                        <span><strong>Current Streak:</strong><br>{% if character.battle_count %} {{character.battle_count}} {% else %} N/A {% endif %}</span>
                    </div>
                    <div class="col-3">
                        <span><strong>Account Type:</strong><br>{% if current_profile.paid %} Premium {% else %} Free {% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Current Character -->
        <div class="row g-0 pt-3 pt-md-4">
            {% if current_profile.active_char %}
                <div class="character-wrapper">
                    <!-- Character -->
                    <div class="col-6 col-lg-5 col-xl-4 col-xxl-3 px-1 px-sm-3 card-wrapper">
                        <div class="card polymorphism">
                            <div class="col-12">
                                <img class="card-img cornered-image" src="{{ character.character_id.image.url }}" alt="{{character.character_id.name}}">
                            </div>
                            <div class="col-12">
                                <div class="card-body p-2">
                                    <h5 class="card-title text-center mb-0">{{ character.character_id.name }}</h5>
                                    <div class="text-center mb-2">
                                        <span>Level {{ character.current_level }}</span>
                                    </div>
                                        <div class="progress-container px-2">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ character.current_xp }}" style="width: {% percent character.current_xp character.min_xp character.max_xp%}%" 
                                                aria-valuemin="{{ character.min_xp }}" aria-valuemax="{{ character.max_xp }}" aria-label="XP Progress Bar"></div>
                                                <p class="justify-content-center d-flex position-absolute bar-text mb-0">XP</p>
                                            </div>
                                        </div>
                                    <table class="table table-borderless table-responsive stats-table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">HP:</th>
                                                <td>{{ character.char_hp }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Attack:</th>
                                                <td>{{ character.char_attack }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Defense:</th>
                                                <td>{{ character.char_defense }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Speed:</th>
                                                <td>{{ character.char_speed }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Weapon -->
                    <div class="col-6 col-lg-5 col-xl-4 col-xxl-3 px-1 px-sm-3 card-wrapper">
                        <div class="card polymorphism rarity">
                            <div class="col-12">
                                <div class="layered-container">
                                    <img class="card-img cornered-image" src="{{ character.weapon_id.image.url }}" alt="{{character.weapon_id.name}}">
                                    <div class="image-overlay">
                                        {% with ''|center:character.weapon_id.min_level as range %}
                                            {% for _ in range %}
                                                {% if character.weapon_rarity == '1' %}
                                                    <span class="far fa-star"></span>
                                                {% else %}
                                                    <span class="fa fa-star rarity-{{character.weapon_rarity}}"></span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body p-2">
                                    <h5 class="card-title text-center mb-0">{{ character.weapon_id.name }}</h5>
                                    <div class="text-center">
                                        <span>Level {{ character.weapon_level }}</span><br>
                                        <span class="text-{{ character.get_weapon_rarity_display|lower }}">{{ character.get_weapon_rarity_display }}</span>
                                    </div>
                                    <table class="table table-borderless table-responsive stats-table">
                                        <tbody>
                                                <tr>
                                                    <th scope="row">HP:</th>
                                                    <td>{{ character.weapon_hp }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Attack:</th>
                                                    <td>{{ character.weapon_attack }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Defense:</th>
                                                    <td>{{ character.weapon_defense }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Speed:</th>
                                                    <td>{{ character.weapon_speed }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="hero-button-container text-center col-12 pt-3">
                    <div class="col-6">
                        <!-- Modal Trigger -->
                        <button class="btn btn-dark custom-dark-btn w-auto" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">
                            <span class="button-effect">Delete Hero</span>
                        </button>  
                    </div>
                    <div class="col-6">
                        <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'battle' %}" role="button">
                            <span class="button-effect">Start Battle</span>
                        </a> 
                    </div>
                </div>    
            {% else %}
                <div class="col-12 text-center">
                    <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'create' %}">
                        <span class="button-effect">Create a new character!</span>
                    </a> 
                </div>
            {% endif %} 
        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade text-body text-center" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100" id="deleteConfirmationTitle">Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your Character?</p> 
          <p>This is permanent, and your score will not be calculated for the Leaderboard!</p>
        </div>
        <div class="modal-footer text-center">
            <form action="{% url 'delete' %}" method="POST" class="profile-form w-100 text-center">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ character.pk }}">
                <button class="btn btn-dark custom-dark-btn custom-red-btn" type="submit">
                    <span class="button-effect">Delete</span>
                </button>
                <button type="button" class="btn btn-dark custom-dark-btn" data-bs-dismiss="modal">
                    <span class="button-effect">Close</span>
                </button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

