/* https://stackoverflow.com/questions/21346045/django-new-fonts */
@font-face {
    font-family: 'Mandhor';
    src: url('../fonts/Mandhor.otf') format("opentype");
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*********************************** HTML and Body*/

html {
    box-sizing: border-box;
}

body {
    background-color: #1e1e24;
    font-family: 'Titillium Web', sans-serif;
    color: #FFF8F0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/********************************** Navbar */

#mainNavbar {
    background-color: #0f0f0f;
    border-radius: 0px 0px 25px 25px;
    min-height: 100%;
    align-items: stretch;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 13px 11px 6px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 2px 13px 11px 6px rgba(0,0,0,0);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

.logo-font {
    font-family: 'Mandhor', sans-serif;
}

.text-white {
    color: #FFF8F0
}

a, a:hover {
    text-decoration: none;
    color: #FFF8F0;
}

/* Evenly space list items  https://stackoverflow.com/questions/23226888/horizontal-list-items-fit-to-100-with-even-spacing/23226961*/

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

/* Animated Link Source: https://ui-snippets.dev/ */

.dropdown-menu .animated-link, .animated-link {
    padding-bottom: 1px;
    color: #FFF8F0;
    position: relative;
}

.animated-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: #FFF8F0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.animated-link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item.animated-link::after {
    width: 30%;
    left: 35%;
} 

.list-text {
    font-size: 1.3rem;
    font-weight: 400;
}

.dropdown-menu {
    background-color: #0f0f0f;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    min-width: 0rem;
}

.dropdown-menu-start[data-bs-popper] {
    left: -93%;
}

.dropdown-item {
    text-decoration: none;
    color: #FFF8F0;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent;
}

hr.dropdown-divider {
    color: #FFF8F0
}

.status-container {
    min-height: 100%;
    border: 1px solid #FFF8F0;
    border-radius: 30px;
}

.account-container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

/********************************** Allauth */

.custom-allauth {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/********************************** Index */

.page-container {
    display: flex;
    height: calc(100% - 100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container > .row {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}

.picture-container img {
    height: 100%;
    width: 100%;
    -moz-box-shadow:     0 0 10px 5px #000000;
    -webkit-box-shadow:  0 0 10px 5px #000000;
    box-shadow:          0 0 10px 5px #000000;
}

.splash-descriptor {
    display: flex;
    height: 100%;
    align-items: center; 
    justify-content: center; 
}

.inset-shadow {
    -moz-box-shadow:    inset 0 0 10px #000000, -1px -1px 10px #444140;
    -webkit-box-shadow: inset 0 0 10px #000000, -1px -1px 10px #444140;
    box-shadow:         inset 0 0 10px #000000, -1px -1px 10px #444140;
    border-radius: 20px;
 }

 .polymorphism {
    border-radius: 25px;
    background: #1e1e24;
    box-shadow:  5px 5px 10px #0e0e11,
                 -5px -5px 10px #2e2e37;
 }

/********************************** CODEX */

.cornered-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.stats-table {
    color: #FFF8F0;
    margin-bottom: 2px;
}
.stats-table th, .stats-table td {
    padding-top: 0;
    padding-bottom: 0;
}

.stats-table td {
    text-align: right;
}

.codex-card .card-footer {
    background-color: transparent;
    padding:0;
    border-top: none;
}


/* Styling to remove button  */
.custom-dark-btn, .filter-container {
    color: #FFF8F0;
    background-color: #0f0f0f;
    border: none;
    border-radius: 25px;
}

.custom-dark-btn:hover {
    background-color: transparent;
    transition: 0.1s;
}

.custom-dark-btn:active, .custom-dark-btn:active:hover, .custom-dark-btn:focus:hover {
    background-color: transparent;
    transition: 0.1s;
    box-shadow: none;
}

.custom-dark-btn:focus {
    background-color: #0f0f0f;
    transition: 0.1s;
    box-shadow: none;
}

/* Animated Link Source: https://ui-snippets.dev/ */
.button-effect {
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.button-effect::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: white;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Allow button hover to produce text highlight effect */
.custom-dark-btn:hover .button-effect::after, .button-effect:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.filter-button {
    text-decoration: none;
}

.filter-button:active, .filter-button:focus {
    box-shadow: none;
}

.btt-wrapper {
    border-radius: 30px;
    border: 1px solid #FFF8F0;
    background-color: #0f0f0f;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    box-shadow: 0px 18px 28px 0px rgba(0,0,0,0.75);
}

.btt-negative {
    width: 100%;
    height: 30px;
}
/********************************** MEDIA QUERIES */
@media (max-width: 992px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .page-container {
        justify-content: flex-start;
    }   

    .picture-container img {
        max-width: 200px;
        max-height: 200px;
    }

}

@media (max-width: 576px) {

    .page-container {
        height: calc(100% - 54px);
        justify-content: flex-start;
    }

    .list-text {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h5 {
        margin-top: 2px;
        font-size: 1rem;
    }

    .dropdown-menu-start[data-bs-popper] {
        left: -102%;
    }

    .stats-table {
        font-size: 0.8rem;
    }

    .card-body {
        padding: 0 0 2px 0px;
    }

}

/* https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }