/* https://stackoverflow.com/questions/21346045/django-new-fonts */
@font-face {
    font-family: 'Mandhor';
    src: url('../fonts/Mandhor.otf') format("opentype");
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*********************************** HTML and Body*/

html {
    box-sizing: border-box;
    overflow: auto;
}

body {
    background-color: #1e1e24;
    background-image: linear-gradient(to right bottom, #1e1e24, #1b1a1f, #17171a, #141315, #0f0f0f);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF8F0;
    font-family: 'Titillium Web', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: -webkit-fill-available;
}

/********************************** Navbar */

#mainNavbar {
    background-color: #0f0f0f;
    border-radius: 0px 0px 25px 25px;
    min-height: 100%;
    align-items: stretch;
    -webkit-box-shadow: 0px 9px 10px 4px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 10px 4px rgba(0,0,0,0.66);
    justify-content: space-around;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

.logo-font {
    font-family: 'Mandhor', sans-serif;
}

.text-white {
    color: #FFF8F0
}

a, a:hover {
    text-decoration: none;
    color: #FFF8F0;
}

/* Evenly space list items  https://stackoverflow.com/questions/23226888/horizontal-list-items-fit-to-100-with-even-spacing/23226961*/

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

/* Animated Link Source: https://ui-snippets.dev/ */

.dropdown-menu .animated-link, .animated-link {
    padding-bottom: 1px;
    color: #FFF8F0;
    position: relative;
}

.animated-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: #FFF8F0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.animated-link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item.animated-link::after {
    width: 30%;
    left: 35%;
} 

.list-text {
    font-size: 1.3rem;
    font-weight: 400;
}

.dropdown-menu {
    background-color: #0f0f0f;
    -webkit-box-shadow: 0px 9px 10px 4px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 10px 4px rgba(0,0,0,0.66);
    min-width: 0rem;
}

.dropdown-menu-start[data-bs-popper] {
    left: -122%;
}

.dropdown-item {
    text-decoration: none;
    color: #FFF8F0;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent;
}

hr.dropdown-divider {
    color: #FFF8F0
}

.account-container, .status-container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.list-inline-item.dropdown {
    display: flex;
}

.nav-icon {
    width: 40px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

#right-nav-dropdown.show .nav-icon:before {
    transform: translateY(12px) rotate(135deg);
}

#right-nav-dropdown.show .nav-icon:after{
    transform: translateY(-12px) rotate(-135deg);
}

#right-nav-dropdown.show .nav-icon div{
    transform: scale(0);
}

/********************************** Allauth */

.custom-allauth, .custom-error {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/********************************** Index */

.page-container {
    display: flex;
    height: calc(100% - 100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container > .row {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}

.picture-container img {
    height: 100%;
    width: 100%;
    -moz-box-shadow:     0 0 10px 5px #000000;
    -webkit-box-shadow:  0 0 10px 5px #000000;
    box-shadow:          0 0 10px 5px #000000;
}

.splash-descriptor {
    display: flex;
    height: 100%;
    align-items: center; 
    justify-content: center; 
}

 .polymorphism {
    border-radius: 25px;
    background: #0f0f0f;
    background-image: linear-gradient(to right bottom, #0f0f0f, #141315, #17171a, #1b1a1f, #1e1e24);
    -webkit-box-shadow: 0px 11px 12px 4px rgba(0,0,0,0.66);
    box-shadow: 0px 11px 12px 4px rgba(0,0,0,0.66);
 }

 .main-button {
     font-size: 1.5rem;
 }

/********************************** CODEX */

.cornered-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.stats-table {
    color: #FFF8F0;
    margin-bottom: 2px;
}
.stats-table th, .stats-table td {
    padding-top: 0;
    padding-bottom: 0;
}

.stats-table td {
    text-align: right;
}

.codex-card .card-footer {
    background-color: transparent;
    padding:0;
    border-top: none;
}


/* Styling to remove button  */
.custom-dark-btn, .filter-container {
    color: #FFF8F0;
    background-color: #0f0f0f;
    border: none;
    border-radius: 25px;
}

.custom-dark-btn {
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.66);
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.66);
}

.custom-dark-btn:hover {
    background-color: transparent;
    transition: 0.1s;
}

.custom-dark-btn:active, .custom-dark-btn:active:hover, .custom-dark-btn:focus:hover {
    background-color: transparent;
    transition: 0.1s;
    box-shadow: none;
}

.custom-dark-btn:focus {
    background-color: #0f0f0f;
    transition: 0.1s;
    box-shadow: none;
}

/* Animated Link Source: https://ui-snippets.dev/ */
.button-effect {
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.button-effect::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: white;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Allow button hover to produce text highlight effect */
.custom-dark-btn:hover .button-effect::after, .button-effect:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.filter-button {
    text-decoration: none;
}

.filter-button:active, .filter-button:focus {
    box-shadow: none;
}

.btt-wrapper {
    border-radius: 30px;
    border: 1px solid #FFF8F0;
    background-color: #0f0f0f;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    box-shadow: 0px 18px 28px 0px rgba(0,0,0,0.75);
}

.btt-wrapper button:focus {
    outline: none;
    box-shadow: none;
}

.btt-negative {
    width: 100%;
    height: 40px;
}

/********************************** PROFILE */

.cornered-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.character-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-wrapper .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    justify-content: space-between;
}

.card.polymorphism {
    flex: 0 0 100%;
}

.hero-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-uncommon {
    text-decoration: underline;
}

.text-rare {
    color:#208b3a;
}

.text-epic {
    color:#ffd100;
}

.text-mythic {
    color:#e5383b;
}

.stats-container {
    display: flex;
}

/********************************** CREATE */

.hero-container {
    justify-content: center;
}

.selected-card {
    border: 2px solid green;
    border-radius: 25px;
    outline: none;
    animation: selected-glow 1s infinite alternate;
    
}

@keyframes selected-glow {
    from {
      box-shadow: 0 0 10px #FFF8F0, 0 0 20px #FFF8F0, 0 0 30px #208b3a;
    }
    to {
      box-shadow: 0 0 20px #FFF8F0, 0 0 30px #4ad66d, 0 0 40px #4ad66d
    }
  }

/********************************** BATTLE */

.battle-image-left {
    border-top-left-radius: 25px;
}

.battle-image-right {
    border-top-right-radius: 25px;
}

.popover {
    color: black;
}

.popover .stats-table {
    color: black;
}

.interaction-container, .interaction-wrapper {
    display: flex;
    justify-content: center;
}

.interaction-wrapper {
    padding-top: 2vh;
}

textarea {
    resize: none;
}

textarea:disabled {
    background: #FFF8F0;
    color: black;
  }

.image-overlay {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 2%;
    width: 100%;
    text-align: center;

}

.enemy-overlay {
    background: rgba(0,0,0,0.30);    
}

.layered-container {
    display: inline-block;
    position: relative;
}

.fa.fa-star.rarity-3 {
    color:#208b3a;
}

.fa.fa-star.rarity-4 {
    color:#ffd100;
}

.fa.fa-star.rarity-5 {
    color:#e5383b;
}

/********************************** POST-BATTLE */
.loot-button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Rarity */
.rarity {
    border-radius: 25px;
    outline: none;
}

.rarity-uncommon {
    animation: uncommon 1s infinite alternate;
}

.rarity-rare {
    animation: rare 1s infinite alternate;
}

.rarity-epic {
    animation: epic 1s infinite alternate;
}

.rarity-mythic {
    animation: mythic 1s infinite alternate;
}

@keyframes uncommon {
    from {
      box-shadow: 0 0 10px #FFF8F0, 0 0 20px #FFF8F0, 0 0 30px #e9ecef;
    }
    to {
      box-shadow: 0 0 20px #FFF8F0, 0 0 30px #f8f9fa, 0 0 40px #f8f9fa
    }
  }

  @keyframes rare {
    from {
      box-shadow: 0 0 10px #FFF8F0, 0 0 20px #FFF8F0, 0 0 30px #208b3a;
    }
    to {
      box-shadow: 0 0 20px #FFF8F0, 0 0 30px #4ad66d, 0 0 40px #4ad66d
    }
  }

  @keyframes epic {
    from {
      box-shadow: 0 0 10px #FFF8F0, 0 0 20px #FFF8F0, 0 0 30px #ffd100;
    }
    to {
      box-shadow: 0 0 20px #FFF8F0, 0 0 30px #ffee32, 0 0 40px #ffee32
    }
  }

  @keyframes mythic {
    from {
      box-shadow: 0 0 10px #FFF8F0, 0 0 20px #FFF8F0, 0 0 30px #ba181b;
    }
    to {
      box-shadow: 0 0 20px #FFF8F0, 0 0 30px #e5383b, 0 0 40px #e5383b
    }
  }

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden-padding {
    height: 52px;
}

/********************************** PREMIUM */

.benefit-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.benefit-wrapper .card {
    border-radius: 25px;
}

.benefit-table {
    overflow: hidden;
    color:#FFF8F0;

}

.benefit-table table.table>:not(caption)>*>*  {
    background-color: #0f0f0f;
}

tr.borderless, tr.borderless td, tr.borderless th { 
    border-color: transparent;
    border-bottom: none;
}


tbody > tr:nth-last-child() {
   border-color: transparent;
   border-bottom: none;
} 



.benefit-table tbody tr th {
    text-align: left;
}

.benefit-table tbody tr td {
    text-align: right;
}

.cta-container{
    background-color:#0f0f0f;
}

.pulsing-button {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
  }
  
  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

.benefit-page-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    justify-content: flex-start;
}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
/********************************** CODEX MODIFICATION */

.btn-file {
    color: #FFF8F0;
}

.btn-file:hover {
    color: #FFF8F0;
}

input#newImage {
    justify-content: center;
}

.codex-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.paid-box {
    display: flex;
    justify-content: center;
}

/********************************** LEADERBOARD */

.accordion-body, .accordion-button{ 
    background-color: #0f0f0f;
}

.accordion-button{
    color: #FFF8F0;
    border-color: #1e1e24;
}

.accordion-button:active, .accordion-button:focus, .accordion-button:not(.collapsed) {
    background-color: #1e1e24;
    border-color: #1e1e24;
    color: #FFF8F0;
    box-shadow: 0 0 0 0.25rem #FFF8F0; 
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion {
    -webkit-box-shadow: 0px 11px 12px 4px rgba(0,0,0,0.66);
    box-shadow: 0px 11px 12px 4px rgba(0,0,0,0.66);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(
        "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
}

.inner-col-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/********************************** HELP */

.stats-table th {
    vertical-align: middle;
}

table tr:last-child td, table tr:last-child th{
    border:0
  }

/********************************** MEDIA QUERIES */
@media (max-width: 992px) {
    h2 {
        font-size: 2rem;
    }

    .list-text {
        font-size: 1.1rem;
    }


}

@media (max-width: 767px) {
    .page-container {
        justify-content: flex-start;
    }

    .picture-container img {
        max-width: 200px;
        max-height: 200px;
    }

    .battle-title {
        display: inline-block;
    }
    
    .title-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .title-container .btn {
        font-size: 0.9rem;
    }

    .list-text {
        font-size: 1.2rem;
    }

}

@media (max-width: 576px) {

    .page-container {
        height: calc(100% - 60px);
        justify-content: flex-start;
    }

    .benefit-page-container {
        height: calc(100% - 60px);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

    h5 {
        margin-top: 2px;
        font-size: 1rem;
    }

    .stats-container {
        font-size: 0.8rem;
    }

    .dropdown-menu-start[data-bs-popper] {
        left: -55px;
    }

    .stats-table {
        font-size: 0.8rem;
    }

    .card-body {
        padding: 0 4px 4px 4px;
    }

}

/* https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }