{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid py-3">
    <!-- Heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Codex</h2>
            <hr class="w-25 mb-1 mx-auto">
        </div>
    </div>
    <!-- Codex Entries -->
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1">
            <!--Filters-->
            <div class="row mt-1 mb-2">

                <!-- Filter Toggle -->
                <button class="btn btn-dark custom-dark-btn w-25 mx-auto" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span class="button-effect">Filters</span> 
                </button>

                
                
                <!-- Filter Collapsable -->
                <div class="collapse" id="collapseExample">
                    <div class="col-12 col-md-10 offset-md-1 col-xxl-8 offset-xxl-2">
                        <div class="card card-body filter-container">
                            <!-- Get Form -->
                            <form action="{% url 'codex' %}" method="GET" id="filterForm">
                                <div class="row">

                                    <!-- Premium -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <label for="premiumFilter" class="text-secondary">Premium Content</label>
                                        <select class="form-select" id="premiumFilter" name='premium' aria-label="Premium Filter">
                                            <option hidden disabled selected value>Both</option>
                                            <option value="true">Premium</option>
                                            <option value="false">Free</option>
                                        </select>
                                    </div>
                                    
                                    <!-- Type -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                    <label for="typeFilter" class="text-secondary">Type</label>
                                    <select class="form-select" id="typeFilter" name='type' aria-label="Premium Filter">
                                        <option hidden disabled selected value>All</option>
                                        <option value="Enemy">Enemy</option>
                                        <option value="Weapon">Weapon</option>
                                        <option value="Hero">Hero</option>
                                    </select>
                                    </div>
            
                                    <!-- Availability -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <label for="typeFilter" class="text-secondary">Min Level <span class="fa fa-star checked"></span></label>
                                        <div class="checkbox-group" id="minLevelFilter">
                                            <div class="form-check form-check-inline text-center">
                                                <input class="form-check-input" type="checkbox" name="min_level" id="minLevel1" value="1" checked>
                                                <label class="form-check-label" for="minLevel1">1</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="min_level" id="minLevel2" value="2" checked>
                                                <label class="form-check-label" for="minLevel2">2</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="min_level" id="minLevel3" value="3" checked>
                                                <label class="form-check-label" for="minLevel3">3</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="min_level" id="minLevel4" value="4" checked>
                                                <label class="form-check-label" for="minLevel4">4</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="min_level" id="minLevel5" value="5" checked>
                                                <label class="form-check-label" for="minLevel5">5</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit -->
                                    <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-link filter-button"><span class="button-effect">Apply Filters</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Entries -->
            <div class="row">
                {% for entry in codex %}
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 pt-3">
                        <div class="card h100 border-0 polymorphism codex-card">
                            <img src="{{ entry.image.url }}" class="card-img-top cornered-image" alt="{{ entry.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ entry.name }}</h5>
                                <table class="table table-borderless table-responsive stats-table">
                                    <tbody>
                                            <tr>
                                                <th scope="row">Type:</th>
                                                <td>{{ entry.type }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">HP:</th>
                                                <td>{{ entry.base_hp }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Attack:</th>
                                                <td>{{ entry.base_attack }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Defense:</th>
                                                <td>{{ entry.base_defense }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Speed:</th>
                                                <td>{{ entry.base_speed }}</td>
                                            </tr>
                                    </tbody>
                                </table>
                                <!-- https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
                                {% if entry.min_level %}
                                    <div class="card-footer text-center">
                                        {% with ''|center:entry.min_level as range %}
                                            {% for _ in range %}
                                                <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}