{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Page Container -->
<div class="container-fluid py-3">
    <!-- Heading -->
    <div class="row g-0">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Codex</h2>
            <hr class="w-25 mb-1 mx-auto">
        </div>
    </div>
    <!-- Codex Entries -->
    <div class="row g-0">
        <div class="col-12 col-sm-10 offset-sm-1">
            <!--Filters-->
            <div class="col-12 mt-1 mb-2 text-center">
                <div class="button-container">
                    <!-- Filter Toggle -->
                    <button class="btn btn-dark custom-dark-btn w-25" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        <span class="button-effect">Filters</span>
                    </button>    
                    {% if user.is_superuser %}
                    <!-- Create Button -->
                        <a class="btn btn-dark custom-dark-btn w-25" href="{% url 'c_create' %}">
                            <span class="button-effect">Create</span>
                        </a>   
                    {% endif %}
                </div>
                <!-- Filter Collapsable -->
                <div class="collapse" id="filterCollapse">
                    <div class="col-12 col-md-10 offset-md-1 col-xxl-8 offset-xxl-2">
                        <div class="card card-body filter-container ps-md-3">
                            <!-- Get Form -->
                            <form action="{% url 'codex' %}" method="GET" id="filterForm">
                                <div class="row">

                                    <!-- Premium -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <label for="premiumFilter">Premium Content</label>
                                        <select class="form-select" id="premiumFilter" name='premium' aria-label="Premium Filter">
                                            <option value="both" {% if premium is empty %}selected{% endif %}>Both</option>
                                            <option value="1" {% if premium == 1 %}selected{% endif %}>Premium</option>
                                            <option value="0" {% if premium == 0 %}selected{% endif %}>Free</option>
                                        </select>
                                    </div>
                                    
                                    <!-- Type -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                    <label for="typeFilter">Type Filter</label>
                                    <select class="form-select" id="typeFilter" name='type' aria-label="Type Filter">
                                        <option value="all" {% if not entry_type %}selected{% endif %}>All</option>
                                        <option value="enemy" {% if entry_type == "enemy" %}selected{% endif %}>Enemy</option>
                                        <option value="weapon"{% if entry_type == "weapon" %}selected{% endif %}>Weapon</option>
                                        <option value="hero" {% if entry_type == "hero" %}selected{% endif %}>Hero</option>
                                    </select>
                                    </div>

                                    <!-- Availability -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <!-- <label for="minLevelFilter"></label> -->
                                        <fieldset>
                                            <legend class="text-center">Tier <span class="fa fa-star checked"></span></legend>
                                            <div class="checkbox-group" id="minLevelFilter">
                                                <div class="form-check form-check-inline text-center">
                                                    <input class="form-check-input" type="checkbox" name="min_level" id="minLevel1" value="1" {% if not levels or 1 in levels %}checked{% endif %}>
                                                    <label class="form-check-label" for="minLevel1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="min_level" id="minLevel2" value="2" {% if not levels or 2 in levels %}checked{% endif %}>
                                                    <label class="form-check-label" for="minLevel2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="min_level" id="minLevel3" value="3" {% if not levels or 3 in levels %}checked{% endif %}>
                                                    <label class="form-check-label" for="minLevel3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="min_level" id="minLevel4" value="4" {% if not levels or 4 in levels %}checked{% endif %}>
                                                    <label class="form-check-label" for="minLevel4">4</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="min_level" id="minLevel5" value="5" {% if not levels or 5 in levels %}checked{% endif %}>
                                                    <label class="form-check-label" for="minLevel5">5</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <!-- Hidden Availability -->
                                    <input type="hidden" name="levels" id="minLevelString">

                                    <!-- Sort By -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <label for="sortBy">Sort By</label>
                                        <select class="form-select" id="sortBy" name='sort' aria-label="Sort By">
                                            <option value="default" {% if sort_by == 'pk' %}selected{% endif %}>Default</option>
                                            <option value="name" {% if sort_by == "name" %}selected{% endif %}>Name</option>
                                            <option value="type" {% if sort_by == "type" %}selected{% endif %}>Type</option>
                                            <option value="base_hp" {% if sort_by == "base_hp" %}selected{% endif %}>HP</option>
                                            <option value="base_attack" {% if sort_by == "base_attack" %}selected{% endif %}>Attack</option>
                                            <option value="base_defense" {% if sort_by == "base_defense" %}selected{% endif %}>Defense</option>
                                            <option value="base_speed" {% if sort_by == "base_speed" %}selected{% endif %}>Speed</option>
                                        </select>
                                    </div>

                                    <!-- Sort Direction -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 text-center">
                                        <label for="direction">Direction</label>
                                        <select class="form-select" id="direction" name='direction' aria-label="Sort Direction">
                                            <option value="asc" {% if not sort_dir %}selected{% endif %}>Ascending</option>
                                            <option value="desc" {% if sort_dir == 'desc' %}selected{% endif %}>Descending</option>
                                        </select>
                                    </div>
                                    <!-- Action Container -->
                                    <div class="col-10 offset-1 col-xl-4 offset-xl-0 d-flex">
                                        <!-- Submit -->
                                        <div class="col-6  d-flex text-center">
                                            <button type="submit" class="btn btn-link filter-button d-flex my-auto mx-auto"><span class="button-effect">Apply Filters</span></button>
                                        </div>
                                        <!-- Clear -->
                                        <div class="col-6 d-flex text-center">
                                            <a href="{% url 'codex' %}" class="btn btn-link filter-button d-flex my-auto mx-auto"><span class="button-effect">Clear Filters</span></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Entries -->
            <div class="col-12 codex-card-container">
                {% if codex %}
                    {% for entry in codex %}
                        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 pt-3 px-2 d-flex">
                            <div class="card h100 border-0 polymorphism codex-card card-stretch">
                                <img src="{{ entry.image.url }}" class="card-img-top cornered-image" alt="{{ entry.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ entry.name }}</h5>
                                    <table class="table table-borderless table-responsive stats-table">
                                        <tbody>
                                                <tr>
                                                    <th scope="row">Type:</th>
                                                    <td>{{ entry.type }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">HP:</th>
                                                    <td>{{ entry.base_hp }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Attack:</th>
                                                    <td>{{ entry.base_attack }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Defense:</th>
                                                    <td>{{ entry.base_defense }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Speed:</th>
                                                    <td>{{ entry.base_speed }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Premium:</th>
                                                    <td>
                                                        {% if entry.paid %}
                                                            <i class="fas fa-lock"></i>
                                                        {% else %}
                                                            <i class="fas fa-lock-open"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                
                                    <div class="card-footer text-center">
                                        <div class="col-12">
                                            <!-- https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
                                            {% if entry.min_level %}
                                                {% with ''|center:entry.min_level as range %}
                                                    {% for _ in range %}
                                                        <span class="fa fa-star"></span>
                                                    {% endfor %}
                                                {% endwith %}
                                            {% else %}
                                                <span>N/A</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-12">
                                            {% if user.is_superuser %}
                                                <a class="btn btn-dark custom-dark-btn w-100 mt-1" href="{% url 'c_edit' entry.pk %}">
                                                    <span class="button-effect">Edit</span>
                                                </a>   
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center pt-5">No codex entries found for these parameters!</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="btt-negative">
</div>
<div class="btt-wrapper">
    <button type="button" id="toTop" class="btn" aria-label="Scroll to Top">
        <span class="animated-link"><i class="fas fa-arrow-up text-black me-2"> </i> Results: {{ codex|length }} </span>    
    </button>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'codex/js/filter_form_validation.js' %}"></script>
    <script src="{% static 'codex/js/to_top.js' %}"></script>
{% endblock %}