{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-center">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for field in form %}
            {{ field | as_crispy_field }}
        {% endfor %}
        <input type="submit" name="action" value=""/>
        <button class="primaryAction btn btn-dark custom-dark-btn" type="submit">
            <span class="button-effect">{% trans 'Set Password' %}</span>
        </button>
    </form>
{% endblock %}
