{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Page Container -->
    <div class="container-fluid p-2 p-sm-3 p-lg-5">
        <!-- Player cards -->
        <div class="row g-0 pt-2 pt-md-4">
            <div class="character-wrapper">
                <!-- Character -->
                <div class="col-10 col-md-6 col-xxl-5 px-1 px-sm-3 character-container">
                    <div class="card polymorphism">
                        <div class="row g-0">
                            <div class="col-6">
                                <img class="card-img battle-image-left" src="{{ character.character_id.image.url }}" alt="{{character.character_id.name}}">
                            </div>
                            <div class="col-6">
                                <div class="layered-container">
                                    <img class="card-img battle-image-right" src="{{ character.weapon_id.image.url }}" alt="{{character.weapon_id.name}}">
                                    <div class="image-overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ character.weapon_id.name}} - Level {{ character.weapon_level }}">
                                        {% with ''|center:character.weapon_id.min_level as range %}
                                            {% for _ in range %}
                                                {% if character.weapon_rarity == '1' %}
                                                    <span class="far fa-star"></span>
                                                {% else %}
                                                    <span class="fa fa-star rarity-{{character.weapon_rarity}}"></span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="w-100 title-container pb-2">
                                <h5 class="card-title text-center battle-title mb-0">{{ character.character_id.name }} - Level {{ character.current_level }}</h5>
                                <!-- Popover for Stats -->
                                <a tabindex="0" class="btn btn-dark mini-btn custom-dark-btn d-inline-block d-md-none" role="button" data-bs-toggle="popover" data-content-id="#heroStats" title="Hero Stats" data-bs-html="true"><span class="button-effect">Stats</span></a>
                            </div>
                            <!-- Progress Bars -->
                            <div class="hero-progress-container">
                                <div class="progress hp-progress">
                                    <div class="progress-bar bg-danger" id="heroHp" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{ character.char_hp|add:character.weapon_hp }}" aria-label="Hero HP"></div>
                                    <p class="justify-content-center d-flex position-absolute bar-text mb-0">HP</p>
                                </div>
                                <div class="progress turn-progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="heroTurn" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="Hero Turn Meter"></div>
                                    <p class="justify-content-center d-flex position-absolute bar-text mb-0">Turn Meter</p>
                                </div>
                            </div>
                            <!-- Character Stats -->
                            <div class="d-none d-md-flex" id="heroStats">       
                                <table class="table table-borderless table-responsive stats-table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">HP:</th>
                                            <td>{{ character.char_hp|add:character.weapon_hp }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Attack:</th>
                                            <td>{{ character.char_attack|add:character.weapon_attack }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Defense:</th>
                                            <td>{{ character.char_defense|add:character.weapon_defense }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Speed:</th>
                                            <td>{{ character.char_speed|add:character.weapon_speed }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Enemy -->    
                <div class="col-10 col-md-6 col-xxl-5 px-1 px-sm-3 pt-2 pt-md-0 enemy-container">
                    <div class="card polymorphism">
                        <div class="row g-0">
                            <div class="col-6">
                                <div class="layered-container">
                                    <img class="card-img battle-image-left" src="{{ enemy.weapon_id.image.url }}" alt="{{enemy.weapon_id.name}}">
                                    <div class="image-overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ enemy.weapon_id.name}} - Level {{ enemy.weapon_level }}">
                                        {% with ''|center:enemy.weapon_id.min_level as range %}
                                            {% for _ in range %}
                                                {% if enemy.weapon_rarity == '1' %}
                                                    <span class="far fa-star"></span>
                                                {% else %}
                                                    <span class="fa fa-star rarity-{{enemy.weapon_rarity}}"></span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="layered-container">
                                    <img class="card-img battle-image-right" src="{{ enemy.enemy_id.image.url }}" alt="{{enemy.enemy_id.name}}">
                                    <div class="image-overlay">
                                        <div class="enemy-overlay">
                                            {% with ''|center:enemy.enemy_id.min_level as range %}
                                                {% for _ in range %}
                                                        <span class="fa fa-star"></span>
                                                {% endfor %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="w-100 title-container pb-2">
                            <!-- Popover for Stats -->
                                <a tabindex="0" class="btn btn-dark mini-btn custom-dark-btn d-inline-block d-md-none" role="button" data-bs-toggle="popover" data-content-id="#enemyStats" title="Enemy Stats" data-bs-html="true"><span class="button-effect">Stats</span></a>
                                <h5 class="card-title text-center battle-title mb-0">{{ enemy.enemy_id.name }} - Level {{ enemy.enemy_level }}</h5>
                            </div>
                            <!-- Progress Bars -->
                            <div class="enemy-progress-container">
                                <div class="progress hp-progress">
                                   <div class="progress-bar bg-danger" id="enemyHp" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{ enemy.enemy_hp|add:enemy.weapon_hp }}" aria-label="Enemy HP"></div>
                                   <p class="justify-content-center d-flex position-absolute bar-text mb-0">HP</p>
                                </div>
                                <div class="progress turn-progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="enemyTurn" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="Enemy Turn Meter"></div>
                                    <p class="justify-content-center d-flex position-absolute bar-text mb-0">Turn Meter</p>
                                </div>
                            </div>
                            <!-- Enemy Stats -->
                            <div class="d-none d-md-flex" id="enemyStats">                            
                                <table class="table table-borderless table-responsive stats-table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">HP:</th>
                                            <td>{{ enemy.enemy_hp|add:enemy.weapon_hp }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Attack:</th>
                                            <td>{{ enemy.enemy_attack|add:enemy.weapon_attack }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Defense:</th>
                                            <td>{{ enemy.enemy_defense|add:enemy.weapon_defense }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Speed:</th>
                                            <td>{{ enemy.enemy_speed|add:enemy.weapon_speed }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Battle interaction -->
        <div class="row g-0 interaction-wrapper">
            <div class="col-10 col-md-6 col-xxl-5 px-1 px-sm-3">
                <div class="col-12 interaction-container battle-log">
                    <textarea name="log" id="battleLog" class="w-100" aria-label="Battle Log" disabled></textarea>
                </div>
                <div class="col-12 interaction-container battle-buttons mt-1 mt-sm-2">
                    <!-- Start Battle Button -->
                    <button class="btn btn-dark mini-btn custom-dark-btn w-50 mx-auto" id="startButton" type="button">
                        <span class="button-effect">Start Battle</span>
                    </button>  
                    <!-- Attack/Retreat Buttons -->
                    <button class="btn btn-dark mini-btn custom-dark-btn w-50 d-none mx-auto disable-hover px-0" id='retreatButton' type="button" data-bs-toggle="modal" data-bs-target="#retreatConfirmation">
                        <span class="button-effect">Retreat</span>
                    </button>
                    <button class="btn btn-dark mini-btn custom-dark-btn w-50 d-none mx-auto disable-hover" id='attackButton' type="button">
                        <span class="button-effect">Attack</span>
                    </button>
                </div>  
            </div>
        </div>
    </div>
    <!-- Post-game Form -->
    <form action="{% url 'post_battle' %}" id="postBattleForm" method="POST" class="d-none">{% csrf_token %}
        <input type="hidden" name="result" id="hiddenResult" value=""/>
    </form>
    <!-- Modal -->
    <div class="modal fade text-body text-center" id="retreatConfirmation" tabindex="-1" role="dialog" aria-labelledby="retreatConfirmationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-center w-100" id="retreatConfirmationTitle">Retreat?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>It's ok to admit defeat...although you can't escape this enemy forever.</p>
            <p>They'll be waiting for you.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="button-container text-center">
                    <button class="btn btn-dark custom-dark-btn custom-red-btn" id="profileRetreat" type="button">
                        <span class="button-effect">Retreat</span>
                    </button>  
                    <button class="btn btn-dark custom-dark-btn custom-red-btn" id="retryRetreat" type="button">
                        <span class="button-effect">Retry</span>
                    </button>
                    <button type="button" class="btn btn-dark custom-dark-btn" data-bs-dismiss="modal">
                        <span class="button-effect">Continue</span>
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ json_char|json_script:"id_character_json" }}
    {{ json_enemy|json_script:"id_enemy_json" }}
    <script src="{% static 'battle/js/battle.js' %}"></script>
{% endblock %}