{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Page Container -->
    <div class="container-fluid p-3">
        <!-- Win -->
        {% if outcome %}
        <input type="hidden" id="winTrigger">
        <div class="col-12 text-center">
            <h2 class="logo-font">YOU WIN!</h2>
        </div>
            {% if free_limit %}
                <!-- If free user has hit limit -->
                <div class="free-alert text-center pb-1">
                    <h3>Max Level Reached</h3>
                    <p>Uprgrade to premium now to full access to CIPRG!</p>
                    <a class="btn btn-dark custom-dark-btn w-auto mx-auto pulsing-button" type="button" role="button" href="{% url 'premium' %}">
                        <span class="button-effect">Upgrade Now!</span>
                    </a>  
                </div>
            {% endif %}
            
            <!-- Container for cards -->
            <div class="row g-0 hero-container">
                {% if levelled_up %}
                    <!-- Level Up Container-->
                    <div class="col-12 col-lg-6 flex-container">
                        <div class="col-12">
                            <h3 class="logo-font text-center mt-2 mt-sm-3">Level up!</h3>
                        </div>
                        <!-- Old Character Stats -->
                        <div class="col-6 p-3">
                            <div class="card h100 border-0 polymorphism codex-card">
                                <img src="{{ active_character.character_id.image.url }}" class="card-img-top cornered-image" alt="{{ active_character.character_id.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ active_character.character_id.name }}</h5>
                                    <div class="text-center">
                                        <span>Level {{ active_character.current_level|add:"-1"}}</span>
                                    </div>
                                    <table class="table table-borderless table-responsive stats-table px-2">
                                        <tbody>
                                            <tr>
                                                <th scope="row">HP:</th>
                                                <td>{{ old_stats.hp }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Attack:</th>
                                                <td>{{ old_stats.attack }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Defense:</th>
                                                <td>{{ old_stats.defense }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Speed:</th>
                                                <td>{{ old_stats.speed }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Container to push up boxes on large display for alignment -->
                            <div class="hidden-padding d-none d-lg-flex"></div>
                        </div>
                        <!-- New Character Stats -->
                        <div class="col-6 p-3">
                            <div class="card h100 border-0 polymorphism codex-card">
                                <img src="{{ active_character.character_id.image.url }}" class="card-img-top cornered-image" alt="{{ active_character.character_id.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ active_character.character_id.name }}</h5>
                                    <div class="text-center">
                                        <span>Level {{ active_character.current_level }}</span>
                                    </div>
                                    <table class="table table-borderless table-responsive stats-table px-2">
                                        <tbody>
                                            <tr>
                                                <th scope="row">HP:</th>
                                                <td>{{ active_character.char_hp }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Attack:</th>
                                                <td>{{ active_character.char_attack }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Defense:</th>
                                                <td>{{ active_character.char_defense }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Speed:</th>
                                                <td>{{ active_character.char_speed }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endif %}
                <!-- Loot container -->
                <div class="col-12 col-lg-6 flex-container character-wrapper">
                    <div class="col-12">
                        <h3 class="logo-font text-center mt-2 mt-sm-3">New Loot!</h3>
                    </div>
                    <!-- Current Weapon -->
                    <div class="col-6 p-3 card-wrapper" id="oldWeapon">
                        <div class="card h100 border-0 polymorphism codex-card card-stretch rarity rarity-{{ active_character.get_weapon_rarity_display|lower }}">
                            <div class="layered-container">
                                <img src="{{ active_character.weapon_id.image.url }}" class="card-img-top cornered-image" alt="{{ active_character.weapon_id.name }}">
                                <div class="image-overlay">
                                    {% with ''|center:active_character.weapon_id.min_level as range %}
                                        {% for _ in range %}
                                            {% if active_character.weapon_rarity == '1' %}
                                                <span class="far fa-star"></span>
                                            {% else %}
                                                <span class="fa fa-star rarity-{{enemy.weapon_rarity}}"></span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <h5 class="card-title text-center">{{ active_character.weapon_id.name }}</h5>
                                <div class="text-center">
                                    <p class="m-0">Level {{ active_character.weapon_level}}<br>
                                    {{ active_character.get_weapon_rarity_display }}</p>
                                </div>
                                <table class="table table-borderless table-responsive stats-table px-2">
                                    <tbody>
                                        <tr>
                                            <th scope="row">HP:</th>
                                            <td>{{ active_character.weapon_hp }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Attack:</th>
                                            <td>{{ active_character.weapon_attack }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Defense:</th>
                                            <td>{{ active_character.weapon_defense }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Speed:</th>
                                            <td>{{ active_character.weapon_speed }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- New Weapon -->
                    <div class="col-6 p-3 card-wrapper" id="newWeapon">
                        <div class="card h100 border-0 polymorphism codex-card card-stretch rarity rarity-{{ new_weapon.rarity_text|lower }}">
                            <div class="layered-container">
                                <img src="{{ new_weapon.image.url }}" class="card-img-top cornered-image" alt="{{ new_weapon.name }}">
                                <div class="image-overlay">
                                    {% with ''|center:new_weapon.min_level as range %}
                                        {% for _ in range %}
                                            {% if new_weapon.rarity == 1 %}
                                                <span class="far fa-star"></span>
                                            {% else %}
                                                <span class="fa fa-star rarity-{{enemy.weapon_rarity}}"></span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <h5 class="card-title text-center">{{ new_weapon.name }}</h5>
                                <div class="text-center">
                                    <p class="m-0">Level {{ new_weapon.level}}<br>
                                    {{ new_weapon.rarity_text }}</p>
                                </div>
                                <table class="table table-borderless table-responsive stats-table px-2">
                                    <tbody>
                                        <tr>
                                            <th scope="row">HP:</th>
                                            <td>{{ new_weapon.base_hp }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Attack:</th>
                                            <td>{{ new_weapon.base_attack }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Defense:</th>
                                            <td>{{ new_weapon.base_defense }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Speed:</th>
                                            <td>{{ new_weapon.base_speed }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 loot-button-container text-center py-3">
                        <button class="btn btn-dark custom-dark-btn w-auto anti-double-click" id="keepButton" type="button" role="button">
                            <span class="button-effect">Keep Old Weapon</span>
                        </button>  
                    </div>
                    <div class="col-6 loot-button-container text-center py-3">
                        <button class="btn btn-dark custom-dark-btn w-auto anti-double-click" id="newButton" type="button" role="button">
                            <span class="button-effect">Take New Weapon</span>
                        </button> 
                    </div>

                    <div class="col-12">
                        <div class="continue-button-container text-center pt-sm-3 d-none">
                            <a class="btn btn-dark custom-dark-btn w-25 anti-double-click" id="keepButton" href="{% url 'profile' %}" type="button" role="button">
                                <span class="button-effect">Profile</span>
                            </a>  
                            <a class="btn btn-dark custom-dark-btn w-25 anti-double-click" id="keepButton" href="{% url 'battle' %}" type="button" role="button">
                                <span class="button-effect">Battle</span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Lose Container -->
            <div class="container-fluid page-container text-center py-3">
                <div class="row g-0">
                    <div class="col-12">
                        <h2 class="logo-font mb-3">YOU LOSE!</h2>
                    </div>
                        {% if current_profile.paid %}
                            <!-- Leaderboard Score -->
                            <div class="col-12">
                                <h3 class="mb-0">Score: {{ score }} <h3>
                            </div>
                            <!-- Paid User -->
                            {% if leaderboard %}
                                <!-- Successful Leaderboard -->
                                <div class="col-12">
                                    <h3 class="mb-3 mt-1">Congratulations! You made your way onto the leaderboard!</h3>
                                    <p>Check out the leaderboard to view your position, or create a new character!</p>
                                    <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'leaderboard' %}" type="button" role="button">
                                        <span class="button-effect">Leaderboard</span>
                                    </a>  
                                    <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'create' %}" type="button" role="button">
                                        <span class="button-effect">New Character</span>
                                    </a>  
                                </div>
                            {% else %}
                                <!-- Unsuccessful Leaderboard -->
                                <div class="col-12">
                                    <h3 class="mb-3 mt-1">Unfortunately, you have not made it to the leaderboard.</h3>
                                    <p>Why not try your luck again?</p>
                                    <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'create' %}" type="button" role="button">
                                        <span class="button-effect">New Character</span>
                                    </a>  
                                </div>
                            {% endif %}
                        {% else %}
                            <!-- Free User -->
                            <div class="col-12">
                                <h3 class="my-3">Looks like you're a free user!</h3>
                                <p>Upgrade to premium to get access to the Leaderboard or create a new character to keep playing for free!</p>
                                <a class="btn btn-dark custom-dark-btn w-auto" href="{% url 'premium' %}" type="button" role="button">
                                    <span class="button-effect">Premium</span>
                                </a>  
                                <a class="btn btn-dark custom-dark-btn w-auto"href="{% url 'create' %}" type="button" role="button">
                                    <span class="button-effect">New Character</span>
                                </a>  
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {%endif%}
    </div>

{% csrf_token %}
{% endblock %}

{% block postloadjs %}
        {{ block.super }}
        {{ weapon_json|json_script:"id_new_weapon"}}
        <script src="{% static 'battle/js/loot.js' %}"></script>
{% endblock %}
