{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <div class="custom-error">
                <div class="polymorphism p-5 text-center">
                    <h1><span class="logo-font">404!</span></h1>
               
                    <p>Oops, looks like you've gotten lost within the maze that is CIRPG.</p>
                    <p>Let's try and help you find your way out again.</p>
          
                    <div class="col-12">
                        <a class="btn btn-dark custom-dark-btn" href="{% url 'home' %}">
                            <span class="button-effect">Home</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}