{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <div class="custom-error">
                <div class="polymorphism p-5 text-center">
                    <h1><span class="logo-font">404!</span></h1>
               
                    <p>This is embarrasing. You've broken the dungeon.</p>
                    <p>Or...maybe I have?</p>
                    <p>Urmm.....Quick! Look behind you! It's a Verdan Commander!</p>
          
                    <div class="col-12">
                        <a class="btn btn-dark custom-dark-btn" href="{% url 'home' %}">
                            <span class="button-effect">Run away!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}